
/* Small-Devices */
//@import 'css/Small-Devices.css';

$font-stack: 'GR',
Helvetica,
sans-serif;
$br-small: 640px;
$br-medium: 1040px;
$br-large: 1500px;
$black: #222;
$blue: #C1C8FF;
$body-border: 20px;
@mixin prefix($property,
$val) {
  -webkit-#{$property}: $val;
  -moz-#{$property}: $val;
  -ms-#{$property}: $val;
  #{$property}: $val;
}

body {
  background-color:#FEEFFF;
  box-sizing: border-box;
  height: 100vh;
  border-bottom: #d3cde9;
  border-left: #0C5FA1;
  font: 17px/1.3 $font-stack;
  transition: border 0.5s ease;
  @media (max-width: $br-small) {
    font-size: .9rem;
    border: none;
  }

  #avatar {
    margin: 0 35%;
    width: 8em;
    height: 8em;
    border-radius: 50%;
  }
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  color: $black;
}

h1 {
  font-size: 2.7em;
  font-weight: normal;
  line-height: 1.02;
}

h2 {
  font-size: 1.6em;
  font-weight: 100;
  &:before {
    display: block;
    content: " ";
    margin-top: -150px;
    height: 150px;
    visibility: hidden;
  }
}

h3 {
  font-size: 1.4em;
  font-weight: 100;
}

h4 {
  font-size: 1em;
  font-weight: 100;
}

h5 {
  font-size: 0.8em;
  font-weight: 100;
  font-style: italic;
}

p {
  color: #555;
  font-weight: 100;
  &.small {
    text-transform: uppercase;
    font-size: .85em;
    color: #d8d8d8
  }
}

.header {
  opacity: 0;
  width: 100%;
  position: fixed;
  left: 0;
  z-index: 1;
  background-color: white;
  transition: all .5s ease;
  display: flex;
  justify-content: left;
  @media (max-width: $br-small) {
    left: 0;
    width: 100%;
  }
}
.header--wrapper {
  width: auto;
  height: 75px;
  padding: 15px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px #eaeaea solid;
  transition: all 0.5s ease;
  @media (max-width: $br-medium) {
    width: 70%;
    left: 50%;
    font-size: 1.3em;
  }
}

//.header--links ul li{
//  display: inline-flex;
//  //margin-right: 1em;
//  //padding:19px;
//
//  //display: flex;
//}

.header--links ul li:last-child {
  margin-right: auto;
}
.header--links ul li {
  display: inline-flex;
  margin-right: 1em;
}
.header--links ul li a {
  font-family: 'Cantarell', sans-serif;
  margin-right: 2em;
  display: inline-block;
  cursor: pointer;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: all cubic-bezier(0.5, 1.75, 0.5, 1) 0.5s;
  line-height: 0.5em;
  text-decoration: none;
  color: #000;
  align-content: center;
}
.header--links ul li a img {
  display: block;
  width: 2em;
  margin: 0;
  height: auto;
}
.header--links ul li a sub {
  opacity: 0.5;
  font-size: 0.75em;
  text-color: #000;
}
.header--links ul li a sub:hover {
  opacity: 1;
}
.header--links ul li a:hover,
.header--links ul li a:focus {
  transform: scale(1.1);
}



hr.blue {
  display: block;
  border: 0;
  height: 2px;
  position:relative;
  background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, #F9FCFF 15%, #308dff 50%, #F9FCFF 85%, rgba(0,0,0,0)); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(15%,#F9FCFF), color-stop(50%, #308dff), color-stop(85%,#F9FCFF), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%, #F9FCFF 15%, #308dff 50%, #F9FCFF 85%, rgba(0,0,0,0) 100%); /*rgba(0,0,0,0) 0%, #F9FCFF 15%, #308dff 50%, #F9FCFF 85%, rgba(0,0,0,0)1.10+ */
  background: -ms-linear-gradient(left, rgba(0,0,0,0) 0%, #F9FCFF 15%, #308dff 50%, #F9FCFF 85%, rgba(0,0,0,0) 100%); /* IE10+ */
  background: linear-gradient(left, rgba(0,0,0,0) 0%, #F9FCFF 15%, #308dff 50%, #F9FCFF 85%, rgba(0,0,0,0) 100%); /* W3C */
}
hr.blue:before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 50%;
  z-index: 1;
}
hr.grey {
  display: block;
  border: 0;
  height: 2px;
  position:relative;
  background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 10%, rgba(0,0,0,0.65) 50%, rgba(0,0,0,0) 90%, rgba(0,0,0,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(10%,rgba(0,0,0,0)), color-stop(50%,rgba(0,0,0,0.65)), color-stop(90%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 10%,rgba(0,0,0,0.65) 50%,rgba(0,0,0,0) 90%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 10%,rgba(0,0,0,0.65) 50%,rgba(0,0,0,0) 90%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 10%,rgba(0,0,0,0.65) 50%,rgba(0,0,0,0) 90%,rgba(0,0,0,0) 100%); /* IE10+ */
  background: linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 10%,rgba(0,0,0,0.65) 50%,rgba(0,0,0,0) 90%,rgba(0,0,0,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
}
hr.grey:before {
  content: "";
  display: block;
  border-top: solid 1px #f9f9f9;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 50%;
  z-index: 1;
}
.sticky {
  position: fixed;
  top: 0;
  width: 20%;
  transform: scale(.9);
  opacity: .8;
  align-items: center;
  transition: all 0.5s ease;
  transform-style: preserve-3d;

  background-color: #FEEFFF;

}
.grace_animation{
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.hero {
  height: calc(100vh);
  background: linear-gradient(167deg, rgba(204, 204, 255, .86), rgba(255, 204, 204, 0.86));
  opacity: 0.9;
  display: flex;
  align-items: center;
  justify-content: center;
  &--text {
    padding: 93px 85px;
    border-radius: 390px;
    background-color: rgba(255, 255, 255, 0.1);
    z-index: -1;
    width: 415px;
    text-align: center;
    img {
      width: 110px;
      height: 89px;
      margin-bottom: 30px;
    }
    h1 {
      color: white;
    }
    h2 {
      color: white;
      margin: 5px 0 26px;
      font-size: 1.3em;
    }
    h4 {
      margin: 40px 0 17px;
      color: white;
    }
    .notifications {
      font-weight: 100;
      cursor: pointer;
      font-size: 0.8em;
      color: #cac2ea;
      display: flex;
      margin: 16px;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      &--cta {
        margin-bottom: 42px;
        &:hover {
          opacity: .9;
        }
      }
      img {
        width: initial;
        height: initial;
        padding-right: 5px;
        padding-bottom: 3px;
        margin-bottom: initial;
      }
      &--alert {
        @extend .notifications;
        color: #ffc7c7;
        cursor: default;
        font-size: 1em;
        margin: 0 0 5px 0;
      }
    }
    #form-messages {
      display: none;
      margin-bottom: 42px;
    }
    #contact-form {
      display: none;
      align-items: center;
      justify-content: center;
      input[type="email"] {
        background: rgba(255, 255, 255, .2);
        border: 1px solid rgba(255, 255, 255, .3);
        outline: none;
        border-radius: 3px;
        padding: 6px 12px;
        margin: 1px 7px 13px;
        color: white;
        font-family: 'GR';
        font-weight: 100;
      }
      button {
        background: none;
        border: none;
        outline: none;
        padding: 0px 7px 9px;
      }
    }
    @media (max-width: $br-small) {
      font-size: 0.9em;
      padding: 0;
      background-color: unset;
      border: none;
    }
  }
  .small {
    position: absolute;
    left: 50%;
    bottom: 6vh;
    transform: translateX(-50%) !important;
    color: white;
  }
}

article p {
  margin: 1.5em 0;
}

#content {
  padding: 14em;
  box-sizing: border-box;
}