mixin QA(heading)
	.QA
		button(onclick="$(this).next().toggle('medium');", class='accordion')
			h2 + #{heading}
		.panel
			if block
				block
			else
				p Oops looks like there's nothing to read here


h1 
	img(src='img/icons8-FAQ-104.png')
	| F.A.Q

+QA("What languages do you know?")
	p EXAMPLE_TEXT: Java, Python, JavaScript, C/C++, Android.

+QA('Can I copy this site?')
	p Yes! I have copied this website myself from kaustavha's github 
		a(href='https://github.com/kaustavha/kaustavha.github.com') here. 
		| Images used are from icons8
		a(href='https://icons8.com/icon/41869/FAQ')
