mixin QA(heading)
	.QA
		button(onclick="$(this).next().toggle('medium');", class='accordion')
			h2 + #{heading}
		.panel
			if block
				block
			else
				p Oops looks like there's nothing to read here


h1 
	img(src='img/icons8-FAQ-104.png')
	| F.A.Q

+QA("Tell us more about your startup/founder/entrepreneurial experiences.")	

+QA("Tell us more about your organizational experiences")

+QA("Tell us about your open source work.")

+QA("What languages do you know?")

+QA("What's up with the other interests?")

+QA('Can I hire you?')
	
+QA('Will you work for free/exposure/equity? What about a trial period with backpay or pro-bono for a non-profit?')
	
+QA('Can I copy this site?')
	p Yes! I have copied this website myself from kaustavha's github
		a(href='https://github.com/kaustavha/kaustavha.github.com') here.
		|  There's a lot of folders there you don't need since I also use the free static hosting to host other things like old projects. Taking a look at this simplified seed project 
		a(href='https://github.com/kaustavha/jade-stylus-coffeescript-seed') here
		|  might help you understand which files and folders you need. The site is mainly written in jade and stylus, using gulp for transpilation and development. 
		| Images used are from icons8
		a(href='https://icons8.com/icon/41869/FAQ')
