p Hey! My name is Conor Rogers and I am a developer based in California. 

mixin line(imgSrc, txt)
	img(src=imgSrc)
	| #{txt}
	br

p
+line('img/icons8-School-26.png', 'B.S. Computer Science, University of Cal. Santa Cruz, 2018')
+line('img/icons8-School-26.png', 'A.A. Mathematics, College of Marin, 2016')

//- p
//- 	img(src='img/icons8-School-26.png')
//- 	| B.A. Psychology, University of Waterloo, 2013-2017
//- 	br


p                                                                                                                                                                                                                                                                                                                                                        


