p Hey! My name is Conor Rogers and I am a student in Computer Science at UCSC. 

mixin line(imgSrc, txt)
	img(src=imgSrc)
	| #{txt}
	br

p
	+line('img/icons8-School-26.png', 'B.S. Computer Science, University of California, Santa Cruz, 2017-2018')

//- p
//- 	img(src='img/icons8-School-26.png')
//- 	| B.A. Psychology, University of Waterloo, 2013-2017
//- 	br


p Test text.


